//VARIAVEIS
@preto-escuro: #0E1013;
@cinza-claro: #282A2D;
@cinza-escuro: #1B1D20;

//MIXINS
/* ===== GLOBAL ===== */
section, footer{
    padding: 1em 0;
}
section:nth-child(odd){
    background: @cinza-escuro 
    
}
section:nth-child(even){
     
    background:@cinza-claro
    
}
/* ===== BODY ===== */
body{
    background: @cinza-escuro;
    color: #fff;
}
/* ===== HEADER ===== */
header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../media/img/background-palmeira.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    margin: 0 !important;
    background: @preto-escuro;
    .navbar-brand{
        width: 20vw;
    }
}
#ondesera{
    background: none;

}
/* ===== PALESTRANTES ===== */
#palestrantes{
    padding: 1em 0;
    background: @cinza-claro;
   .palestrantes{
       .palestrante{
           margin-bottom: 1em;

       }
   }
}
/* ===== LOCAL ===== */
#local{
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 2vw;
    font-size: 4vw;
    background: url(../media/img/background-local.png)no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* ===== FOOTER ===== */
footer{
    background: @preto-escuro;
}
