/* ===== GLOBAL ===== */
section,
header,
footer {
  padding: 1em 0;
}
/* ===== BODY ===== */
body {
  background: #1B1D20;
  color: #fff;
}
/* ===== HEADER ===== */
header {
  background: #0E1013;
}
nav {
  padding: 0.5em 0 !important;
}
nav .navbar-brand {
  width: 20vw;
}
/* ===== PALESTRANTES ===== */
#palestrantes {
  padding: 1em 0;
  background: #282A2D;
}
#palestrantes .palestrantes .palestrante {
  margin-bottom: 1em;
}
/* ===== FOOTER ===== */
footer {
  background: #0E1013;
}
