/* ===== BODY ===== */
body {
  background: #1B1D20;
  color: #fff;
}
/* ===== HEADER ===== */
header {
  background: #0E1013;
}
nav {
  padding: 0.5em 0 !important;
}
nav .navbar-brand {
  width: 20vw;
}
/* ===== LOCAL ===== */
#local {
  height: 80vh;
  display: flex;
  align-items: center;
  padding: 2vw;
  font-size: 4vw;
  background: url(../media/img/background-local.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* ===== FOOTER ===== */
footer {
  background: #0E1013;
}
