//VARIAVEIS
@preto-escuro: #0E1013;
@cinza-claro: #282A2D;
@cinza-escuro: #1B1D20;

//MIXINS
/* ===== BODY ===== */
body{
    background: @cinza-escuro;
    color: #fff;
}
/* ===== HEADER ===== */
header{
    background: @preto-escuro;
}
nav{
    padding: 0.5em 0 !important;
    .navbar-brand{
        width: 20vw;
    }
}
/* ===== LOCAL ===== */
#local{
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 2vw;
    font-size: 4vw;
    background: url(../media/img/background-local.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed
}
/* ===== FOOTER ===== */
footer{
    background: @preto-escuro;
}
